@import url("/home/eli/.cache/wal/colors-waybar.css");

* {
    font-family: "uzura_font", monospace;
    font-size: 20px;
}

window#waybar {
    background-color: @background;
    color: @color5;
}

#workspaces {
    background-color: @background;
    color: @foreground;
    padding: 0;
}

#workspaces button {
    padding: 0 10px;
    background-color: @background;
    color: @foreground;
    border: none;
    border-radius: 0;
}

#workspaces button.active {
    background-color: @color4;
    color: @foreground;
    font-weight: bold;
    border-radius: 0;
}

#workspaces button:hover {
    background: @color4;
    color: @foreground;
    border-radius: 0;
}

#clock {
    padding: 0 7px;
    background-color: @background;
    color: @color6;
}

#backlight {
	padding: 0 7px;
    background-color: @background;
    color: @color5;
}

#pulseaudio {
	padding: 0 7px;
    background-color: @background;
    color: @color4;
}

#clock {
	padding: 0 7px;
    background-color: @background;
    color: @color3;
}

#custom-separator {
	padding: 0 7px;
	background-color: @background;
	color: @color2;
}
